## encoding

In [50]:
import pandas as pd

In [51]:
df=pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day26-ordinal-encoding/customer.csv')

In [52]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [53]:
df.sample(5)

    age  gender   review education purchased
1    68  Female     Poor        UG        No
32   92    Male  Average        UG       Yes
18   19    Male     Good    School        No
42   30  Female     Good        PG       Yes
13   57  Female  Average    School        No

In [54]:
df=df.iloc[:,2:]

In [55]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
x=df.iloc[:,0:-1]

In [58]:
y=df.iloc[:,-1]

In [59]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33)

In [60]:
x_train.head()

   review education
46   Poor        PG
11   Good        UG
27   Poor        PG
33   Good        PG
9    Good        UG

In [61]:
y_train

46     No
11    Yes
27     No
33    Yes
9     Yes
1      No
22    Yes
24    Yes
45    Yes
15     No
8      No
0      No
48    Yes
40     No
39     No
21     No
32    Yes
41    Yes
6      No
26     No
20    Yes
44     No
5     Yes
38     No
14    Yes
49     No
10    Yes
34     No
16    Yes
35    Yes
28     No
23     No
37    Yes
Name: purchased, dtype: object

In [62]:
from sklearn.preprocessing import OrdinalEncoder

In [63]:
oe=OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [64]:
oe.fit(x_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [65]:
x_train=oe.transform(x_train)
x_test=oe.transform(x_test)

In [66]:
x_train

array([[0., 2.],
       [2., 1.],
       [0., 2.],
       [2., 2.],
       [2., 1.],
       [0., 1.],
       [0., 2.],
       [1., 2.],
       [0., 2.],
       [0., 1.],
       [1., 1.],
       [1., 0.],
       [2., 1.],
       [2., 0.],
       [0., 2.],
       [1., 2.],
       [1., 1.],
       [2., 2.],
       [2., 0.],
       [0., 2.],
       [1., 0.],
       [1., 1.],
       [1., 0.],
       [2., 0.],
       [0., 2.],
       [2., 1.],
       [2., 1.],
       [1., 0.],
       [0., 1.],
       [0., 0.],
       [0., 0.],
       [2., 0.],
       [1., 2.]])

## label encoding for output feature
- ordinal encoding and label enconding are similar both are use for ordinal data but difference is 
- ordinal encoding for input feature 
- nominal encoding is for output feature

In [67]:
from sklearn.preprocessing import LabelEncoder

In [68]:
Le= LabelEncoder()

In [69]:
Le.fit(y_train)

LabelEncoder()

In [70]:
y_train=Le.transform(y_train)
y_test=Le.transform(y_test)

In [71]:
Le.classes_

array(['No', 'Yes'], dtype=object)

In [72]:
y_train

array([0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1])

In [73]:
x_train=pd.DataFrame(x_train,columns=['review','education'])

In [74]:
x_train.head()

   review  education
0     0.0        2.0
1     2.0        1.0
2     0.0        2.0
3     2.0        2.0
4     2.0        1.0

In [76]:
x_test=pd.DataFrame(x_test,columns=['review','education'])

In [78]:
x_test.head()

   review  education
0     2.0        2.0
1     0.0        0.0
2     1.0        1.0
3     1.0        0.0
4     1.0        1.0

In [79]:
y_train=pd.DataFrame(y_train,columns=['purchased'])

In [81]:
y_train.head()

   purchased
0          0
1          1
2          0
3          1
4          1

In [82]:
y_test=pd.DataFrame(y_test,columns=['purchased'])

In [84]:
y_test.head()

   purchased
0          0
1          1
2          0
3          0
4          0

In [85]:
from sklearn.linear_model import LogisticRegression

In [86]:
lr=LogisticRegression()

In [87]:
lr.fit(x_train,y_train)

c:\Users\adity\Desktop\ineuron\ineuron-env\lib\site-packages\sklearn\utils\validation.py:1141: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [98]:
y_predict=lr.predict(x_test)

In [99]:
y_predict

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0])

In [90]:
y_test

    purchased
0           0
1           1
2           0
3           0
4           0
5           1
6           0
7           1
8           0
9           1
10          0
11          1
12          0
13          0
14          1
15          1
16          1

In [91]:
from sklearn.metrics import accuracy_score

In [100]:
accuracy_score(y_test,y_predict)

0.5882352941176471

In [97]:
lr.predict([[0,1]])

c:\Users\adity\Desktop\ineuron\ineuron-env\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0])

## one hot encoding is used for nominal data only

In [1]:
import pandas as pd

In [6]:
df=pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day27-one-hot-encoding/cars.csv')

In [8]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [10]:
df['brand'].value_counts()

Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: brand, dtype: int64

In [13]:
df['brand'].nunique()

32

In [14]:
df['fuel'].value_counts()

Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: fuel, dtype: int64

In [15]:
df['owner'].value_counts()

First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: owner, dtype: int64

we are trying to convert 'fuel' and 'owner' in numerical data

In [16]:
pd.get_dummies(df,columns=['fuel','owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,0,1,0,0,1,0,0,0,0
1,Skoda,120000,370000,0,1,0,0,0,0,1,0,0
2,Honda,140000,158000,0,0,0,1,0,0,0,0,1
3,Hyundai,127000,225000,0,1,0,0,1,0,0,0,0
4,Maruti,120000,130000,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,0,1,1,0,0,0,0
8124,Hyundai,119000,135000,0,1,0,0,0,1,0,0,0
8125,Maruti,120000,382000,0,1,0,0,1,0,0,0,0
8126,Tata,25000,290000,0,1,0,0,1,0,0,0,0
8127,Tata,25000,290000,0,1,0,0,1,0,0,0,0

we didnot droped (n-1) columns so

In [17]:
pd.get_dummies(df,columns=['fuel','owner'],drop_first=True)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,1,0,0,0,0,0,0
1,Skoda,120000,370000,1,0,0,0,1,0,0
2,Honda,140000,158000,0,0,1,0,0,0,1
3,Hyundai,127000,225000,1,0,0,0,0,0,0
4,Maruti,120000,130000,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,1,0,0,0,0
8124,Hyundai,119000,135000,1,0,0,1,0,0,0
8125,Maruti,120000,382000,1,0,0,0,0,0,0
8126,Tata,25000,290000,1,0,0,0,0,0,0
8127,Tata,25000,290000,1,0,0,0,0,0,0

we can do this by pandas but not recommended. In machine learning we should use sklearn for one hot Encoding

In [18]:
from sklearn.model_selection import train_test_split

In [20]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [23]:
x=df.iloc[:,0:-1]

In [27]:
y=df.iloc[:,-1]

In [29]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33)

In [33]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
ohe=OneHotEncoder()